body {
    background-color: #000000;
  }
  
  
  b {
    color: white;
  }
  
  div {
    color: white;
  }
  
  h1 {
    color: white;
  }
  
  h3 {
    color: white;
  }
  
  p {
    color: white;
  }
  
  title {
    color: white;
  }